<h1>This is the game page</h1>
<div class="content">
    This is the content.
</div>
<div class="row">
  <div id="sidebar" class="span3 offset9"></div>
  <div id="content" class="span9">
      <div class="row-fluid">
        <div class="tile-box left span6">
        </div>
        <div class="tile-box right span6">
        </div>
    </div>
</div>
<script id="textTileTpl" type="text/template">
<div class="tile"></div>
</script>

<script id="rowTpl" type="text/template">
<div class="row-fluid"></div>
</script>