<h1>This is the game page</h1>
<div class="content"><h1>
    This is the content.</h1>
</div>
<div class="row">
  <div id="tile-box" class="span12">
  </div>
</div>
<script id="textTileTpl" type="text/template">
  <div class="text-tile">
    <div class="tile-content">
      <p id="first-name">{{firstName}}</p>
      <p id="last-name">{{lastName}}</p>
    </div>
  </div>
</script>

<script id="rowTpl" type="text/template">
<div class="row-fluid"></div>
</script>