<h1>This is the game page</h1>
<div class="content"><h1>
    This is the content.</h1>
</div>
<div class="row">
  <div id="tile-box" class="span12">
  </div>
</div>

<script id="tileTpl" type="text/template">
  <div class="tile flip-container flipped" data-id="{{id}}">
    <div class="front">
      <img src="http://www.calfinder.com/blog/wp-content/uploads/2009/10/kitchen-flooring-grey-tile.jpg">
    </div>
    <div class="back fill-parent">
    </div>
  </div>
</script>

<script id="textTileTpl" type="text/template">
  <div class="text-tile fill-parent">
    <div class="tile-content">
      <p id="first-name">{{firstName}}</p>
      <p id="last-name">{{lastName}}</p>
    </div>
  </div>
</script>

<script id="imgTileTpl" type="text/template">
  <div class="img-tile">
    <img src="{{pictureUrl}}">
  </div>
</script>

<script id="rowTpl" type="text/template">
  <div class="row-fluid"></div>
</script>

