@import "bootstrap";

.fill-parent {
  width: 100%;
  height: 100%;
}

.tile {
  width: 92px;
  height: 92px;
  float:left;
}

.img-tile {
  img {
    width: 100%;
    height: 100%;
  }
}

.text-tile {
  background-color: #1616f4;
  p {
    margin: 0; 
    &:first-letter {
      font-size: 1.2em;
      padding-right: 1px;
    }
  }
  #first-name {
    color: white;
    font-size: larger;

  }
  #last-name {
    color: white;
  }
  .tile-content {
    padding: 20% 5px;
    overflow: hidden;
  }
}

.tile-box {
  background-color: yellow;
}